<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="dist/app.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
</head>
<body>

    <div id="root">
   
        <header>

            <nav>

                <div class="logo">
                    <img src="img/logo-sidearea-1.png" alt="#">
                </div>

                <div class="menu">
                    <ul>
                        <li v-for="option in options">
                            {{ option }}
                        </li>
                    </ul>

                </div>

                <div class="square">
                    <img src="img/svg-1.svg" alt="#">
                </div>

            </nav>

            <div class="jumbotron">

                <i class="fas chevron fa-chevron-circle-left"></i>

                <div class="jb-left">
                    <h2>Devotion that never ends</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Neque earum debitis consectetur adipisicing elit. 
                        Neque earum debitis
                    </p>
                    <button>Read More</button>
                </div>

                <div class="jb-right">
                    <img src="img/h-2-slider-img-15.png" alt="#">
                    <img src="img/h-2-slider-img-16.png" alt="#">
                </div>

                <i class="fas chevron fa-chevron-circle-right"></i>

            </div>

            <div class="slider-circles">
                <i class="fas fa-circle"></i>
                <i class="fas fa-circle"></i>
                <i class="fas fa-circle"></i>
            </div>

        </header>

        <main>

            <div class="images">

                <div class="top-row">
                    <img src="img/h-2-port-img-1.jpg" alt="#">
                    <img src="img/h-2-port-img-2.jpg" alt="#">
                    <img src="img/h-2-port-img-3.jpg" alt="#">
                </div>

                <div class="bottom-row">
                    <img src="img/h-2-port-img-4.jpg" alt="#">
                    <img src="img/h-2-port-img-5.jpg" alt="#">
                    <img src="img/h-2-port-img-6.jpg" alt="#">
                </div>

            </div>

            <div class="process">
                <h2>Working process</h2>

                <div class="bg-process">

                    <div class="infos">
                        <div class="circle">
                            <i id="bulb" class="fas fa-lightbulb"></i>
                        </div>
                        <h4>First theres an idea</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                    </div>

                    <div class="infos">
                        <div class="circle">
                            <i id="comment" class="far fa-comment"></i>
                        </div>
                        <h4>The we talk about</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                    </div>

                    <div class="infos">
                        <div class="circle">
                            <i id="cloud" class="fas fa-cloud"></i>
                        </div>
                        <h4>And we think about</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                    </div>

                    <div class="infos">
                        <div class="circle">
                            <i id="pen" class="fas fa-pen-fancy"></i>
                        </div>
                        <h4>So we draw along</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                    </div>

                </div>
            </div>

            <div class="contact">
                <h2>Want to work with us? Send us a message!</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim odio similique reiciendis sit dolorem dignissimos! Eligendi atque aliquid molestias ipsam id nam aut incidunt quas voluptates voluptatem, deleniti architecto quae?</p>
                <button>Contact</button>
            </div>

            <div class="calendar">

                <div class="blog">
                    <img src="img/h-2-blog-img-1.jpg" alt="#">
                    <h3>This way, loves: a detailed guide through new design</h3>
                    <span>by Emily Fields</span>
                </div>

                <div class="blog">
                    <img src="img/h-2-blog-img-2.jpg" alt="#">
                    <h3>I try to give people a different way of looking art</h3>
                    <span>by Emily Fields</span>
                </div>

                <div class="blog">
                    <img src="img/h-2-blog-img-3.jpg" alt="#">
                    <h3>Introduce Richard Laperrière of those amazing features</h3>
                    <span>by Emily Fields</span>
                </div>
                
            </div>

        </main>

        <footer>

            <div>
                <img src="img/logo-sidearea-1-1.png" alt="">
            </div>

            <div>
                <ul>
                    <li v-for="contact in contacts">
                        {{ contact }}
                    </li>
                </ul>
            </div>

            <div>
                <ul>
                    <li v-for="adress in adresses">
                        {{ adress }}
                    </li>
                </ul>
            </div>

            <div>
                <span>Stay in touch with us</span>
                <div>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-linkedin-in"></i>
                </div>
            </div>

        </footer>

    </div>
    
    <script type="text/javascript" src="dist/app.js"></script>

</body>
</html>